# http://editorconfig.org
root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.go]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,ts,tsx,scss}]
quote_type = single

[*.{md,adoc}]
max_line_length = 140
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
indent_size = 2

